* {
  box-sizing: border-box;
  -moz-  box-sizing: border-box;
  -webkit-   box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

nav {
  margin: 1% 0;
}

nav a {
  margin: 1%;
  font-size: 80%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.bkgd-image {
  background-image: url(normal-mode/assets/background.jpg);
  background-size: cover;
  background-position: 0% 8.7%;
  padding: 9% 9.1% 11.5% 9%;
}

.bkgd-text {
  color: white;
  text-align: center;
  font-weight: normal;
  text-shadow: black 1px 1px;
  font-size: 289%;
  margin: 0;
  letter-spacing: -2px;
}

.body-centered {
  margin: 0 auto;
  width: 80%;
}

.personal {
  background-color: green;
}

.small-business {
  background-color: blue;
}

.enterprise {
  background-color: black;
}

.mid-blox {
  text-align: center;
  float: left;
  clear: right;
  margin: 4% 0% 0% 1.5%;
  width: 25%;
  border: 1px solid lightgrey;
}

.mid-blox li {
  border: 1px solid lightgrey;
  padding: 4% 0% 4% 4%;
  background-color: #F7F7F7;
}

.mid-blox h3 {
  font-weight: lighter;
}

.program {
    text-align: center;
    margin-bottom: 0;
    letter-spacing: 1px;
    padding: 6%;
    color: white;
    font-weight: lighter;
}

.program h3 {
  margin-bottom: 0;
}

button {
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  border-radius: 40%;
  font-size: 10pt;
  padding: 4px 4%;
}

.price {
  font-size: 73pt;
  margin: 0px -21px;
  color: white;
}

.price::before {
  content: "$";
}

.price::after {
  content: "";
  letter-spacing: -5%;
}

.ad-copy {
  float: left;
  margin: 5% 3%;
  text-align: left;
  width: 40%;
  line-height: 2;
}

.ad-copy h3 {
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.ad-copy p {
  font-size: 60%;
}

footer {
  background: black;
  text-align: center;
  color: grey;
  padding: 1.5%;
  font-size: 80%;
}

footer a {
  text-decoration: underline;
  color: lightgrey;
}

.clear-both {
  clear: both;
}
