  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }


.container {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

nav {
  margin: .5% 0 .7% 1.1%;
  font-weight: bold;
  font-family: 'Varela', sans-serif;
  color: grey;
}

#nav-logo {
  font-weight: bold;
  letter-spacing: -0.5px;
  font-size: 95%;
}

#nav-home {
  padding-right: 2.3%;
  padding-left: 2.5%;
  font-size: 88%;
}

#nav-pricing {
  font-size: 88%;
  padding-right: 2.4%;
  color: black;
}

#nav-contact {
  font-size: 88%;
  letter-spacing: 0.2px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.bkgd-image {
  background-image: url(normal-mode/assets/background.jpg);
  background-size: cover;
  background-position: 0% 6%;
  padding: 14.8% 10% 15% 9%;
  position: relative;
}

.bkgd-text {
  color: white;
  text-align: center;
  font-weight: normal;
  text-shadow: black 1px 1px;
  font-size: 286%;
  margin: 0;
  letter-spacing: -.8px;
}

#bkgd-1 {
  position: absolute;
  right: 38%;
  bottom: 50%;
}

#bkgd-2 {
  position: absolute;
  right: 34.8%;
  bottom: 36%;
}

.body-centered {
  margin: 0 auto;
  width: 80%;
  position: relative;
}

.personal {
  background-color: #519251;
}

#personal {
  margin-left: 5%;
}

.small-business {
  background-color: #2C4985;
}

#small-business {
  margin-top: 4%;
}

.enterprise {
  background-color: #111111;
}

#enterprise {
  margin-top: 4%;
}

.mid-blox {
  text-align: center;
  float: left;
  clear: right;
  margin: 4% 0% 0% 1.5%;
  width: 29%;
  border: 1px solid lightgrey;
}

.mid-blox li {
  border: 1px solid lightgrey;
  padding: 5% 0% 4% 0%;
  background-color: #F7F7F7;
  font-size: 80%;
  font-weight: bolder;
  color: #556369;
}

.mid-blox h3 {
  font-weight: lighter;
}

.program {
    text-align: center;
    margin-bottom: 0;
    letter-spacing: 1px;
    padding: 6%;
    color: white;
}

.program h3 {
  margin: 6% 9% 0% 7%;
  font-family: 'Varela', sans-serif;
  letter-spacing: 3px;
  font-size: 90%;
}

.program li {
  color: #929B9E;
}

.per-month{
  margin-top: 0%;
  font-weight: 500;
  letter-spacing: 0px;
}

.personal .per-month {
  color: #B0CEB0;
}

.small-business .per-month {
  color: #94A3C1;
}

.enterprise .per-month {
  color: #898989;
}

button {
  background-color: white;
  font-weight: bold;
  border: 2px solid #E8E8E8;
  border-radius: 83px;
  border-width: thin;
  font-size: 10pt;
  padding: 7px 6%;
  margin: 7%;
}


.price {
  font-size: 66pt;
  margin: 0 -21px;
  color: white;
  font-weight: 100;
}

.price::before {
  content: "$";
}


.ad-copy {
  float: left;
  display: inline-block;
  margin: 3.6% -10% 2% 16%;
  text-align: left;
  width: 30%;
  line-height: 2;
  font-family: 'Varela', sans-serif;
}

.ad-copy h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  width: auto;
  margin-bottom: 0;
  margin-top: 5%;
  padding-bottom: 2%;
}

.ad-copy p {
  font-size: 92%;
  margin: 0;
  line-height: 1.5em;
  width: 108%;
  letter-spacing: -.5px
}

#ad-copy-1 {
  margin: 0% 0% 11% 0%;
}

#ad-copy-2 {
  margin: 0% 4% 0% -2%;

}

#ad-copy-3 {
  margin: 0% 0% 17% 0%;

}

#ad-copy-4 {
  margin: 0% 0% 0% 0%;

}

footer {
  background: black;
  text-align: center;
  color: grey;
  margin: 0% 0% 0% 0%;
  padding: 1% 1% 1% 0%;
  font-size: 98%;
}

footer a {
  text-decoration: underline;
  color: lightgrey;
}

.extra-space {
  margin-bottom: 110%;
}

.clear-both {
  clear: both;
}
